 /*CSS Geral, página inteira /'universe select' ou seletor universal. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sora-Medium, 'Segoe UI', Arial;
    font-size: 12.5px; /* var(--tamanho-base-fonte);*/
    color: #0E6616; /*var(--cor-destaque);*/
    
}

body{ 
    overflow-y: hidden;
    height: 100%;

  }  

:root {
    --cor-destaque: #0E6616;
    --bg-cor-input: #E0EBE1;
    --placeholder-text-color: #77A87B;
    --tamanho-base-fonte: 12.5px
} 
  

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.main__leftSection{
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/truck-left.jpg);
    /* filter: brightness(0.75); */

}

.main__rightSection{
    width: 50%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.724) 0px 0px 50px 20px;
}

.main__cardLogin{
    padding: 10px 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.main__articleUpper{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.main__descSignUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;

}

.main__logo img{
    width: 100%;
    height: 100%;
}

.main__DescTitle, .main__DescTitle span, .main__DescTitle b{
    font-size: 3rem;
    text-align: center;
}

.main__DescTitle, .main__DescTitle span{
    font-weight: 100;
}

.main__DescTitle span {
    border-bottom: 1px solid var(--cor-destaque); 
    text-decoration: none;
}

.main__subDescTitle{
    width: 65%;
    font-size: 1.40em;
    text-align: center;
}


.main__articleLower, .main__articleLower a{
    font-size: 1.65rem;
}

.main__inputDates{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;

}

.input--bases{
    height: 50px;
    /* width: 100px; */
    border: none;
    border-radius: 5px;
    background-color: var(--bg-cor-input);
    font-size: 1.5em;
    padding-left: 10px;
    
}

.input--bases::placeholder{
    color: var(--placeholder-text-color);
}

.flex--bases{
    width: 100%;
    display: flex;
    column-gap: 10px;
}

#input_nomeEmpresa{
    flex-grow: 1;
}

#input_CNPJ{
    flex-grow: 2;
}

#input_DtCriacao{
    flex-grow: 1;
}

#input_logradouro{
    flex-grow: 1;
}

#input_bairro{
    flex-grow: 2;
}

#input_numero{
    flex-grow: 1;
}

#input_cidade{
    flex-grow: 1;
}

#input_estado{
    flex-grow: 1;
}

#input_cep{
    flex-grow: 1;
}

#input_complemento{
    flex-grow: 3;
}

#input_tefoneFixo{
    flex-grow: 1;
}

#input_email{
    flex-grow: 1;
}

#input_senha{
    flex-grow: 1;
}

#input_confirmaSenha{
    flex-grow: 1;
}

.main__btn{
    height: 80px;
    /* width: 100px; */
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: var(--cor-destaque);
    font-size: 1.5em;
    font-weight: 600;
    padding-left: 10px;
    cursor: pointer;
    transition: all 0.25s;
}

.main__btn:hover{
    filter: brightness(0.75);
}

.main__errorBg{
    display: none;
    position: absolute;
    background-color: hsla(0, 0%, 0%, 0.335);
    width: 100vw;
    height: 100vh;
}

.main__cardError{
    display: none;
    z-index: 2; 
    position: absolute; 
    left: 50%;
    width: 400px;
    height: 180px;
    background-color: #ffffff;
    border-radius: 10px;
    top: 50%;
    transform: translate(-50%, -50%);

}

.main__content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;

}

.main__mensageError{
    text-align: center;
    font-size: 2.0em;
    font-weight: 200;
    


}

.main__footerCardError{
    width: 100%;
    background-color: #77a87b63;
    height: 70px;
    border-radius: 0 0 10px 10px;
}



.main__tryAgain{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #77A87B;
    background-color: #ffffff;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    left: 120px;
    top: 15px;
    cursor: pointer;
    overflow: hidden;
  }


  