/*cor site: #0E6616*/

:root{
  --fonteTitulo: 2.2275rem; /* Tamanho de fonte para título (proporção 4:3) */
  --fonteTexto: 0.75rem; /* Tamanho de fonte para texto (proporção 4:3) */
  --fonteTextoG: 1.125rem;
  --fonteTextoGG: 1.3125rem;
  --fonteSubtexto: 0.594rem; /* Tamanho de fonte para subtexto (proporção 4:3) */
  --fonteMedia: 0.836rem; /* Tamanho de fonte para mídia (proporção 4:3) */
}


@media screen and (min-width: 1080px) {
  :root{
    --fonteTitulo: 2.97rem;
    --fonteTexto: 1rem;
    --fonteTextoG: 1.5rem;
    --fonteTextoGG: 1.75rem;
    --fonteSubtexto: 0.8rem;
    --fonteMedia: 1.125rem; 
 }
}

@font-face {
  font-family: 'Sora';
  src: url(../fonte/Sora-VariableFont_wght.ttf) format('opentype');
}

.header {
  background-color: #FFFFFF;
}

.containerNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fonteMedia);
  font-family: 'Sora', sans-serif;
  padding: 0 3rem;
  font-weight: 400;
}

.linksNavbar {
  padding: 0 0 0 0;
  margin-left: 10%;
}

.linksNavbar ul {
  color: #000;
}

.linksNavbar ul li {
  display: inline-block;
  padding: 0px 0.5rem;
}

.linksNavbar ul li a {
  text-decoration: none;
  color: #000;
}

.botoesNavbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 18%;
  margin-left: 5%;
}

.botoesNavbar ul {
  color: #000;
  font-size: var(--fonteMedia);
  font-weight: bold;
  width: 84%;
}

.botoesNavbar ul li {
  display: inline-block;
  padding: 0px 0px;
}

.botoesNavbar button {
  height: 2.5vw;
  padding: 0px var(--fonteTexto);
  font-size: var(--fonteMedia);
  font-weight: bold;
  font-family: 'Sora' 'sans-serif';
}

h1 {
  color: #000;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

.imagemPrincipal {
  display: flex;
  background-image: url(../img/imagemPrincipal.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vw;
}

.imagemPrincipal img {
  width: 100%;
}

.textoImagemPrincipal {
  width: 100;
  color: white;
  font-size: var(--fonteTitulo);
  font-family: 'Sora', sans-serif;
  font-weight: bolder;
  padding: 0.5rem;
  line-height: 2.4rem;
}

.caixaTextoImagemPrincipal {
  display:flex;
  flex-direction: column;
  align-self: center;
  height: 25%;
  width: 60%;
  margin: 0 0 5% 9.8%;
}

.subtextoImagemPrincipal {
  color: white;
  font-size: 1.16rem;
  font-family: 'Sora', sans-serif;
  font-weight: 300;
  padding: 0.5rem;
  line-height: 1.5rem;
}

.simuladorFinanceiro {
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;
  border-radius: 0.2rem;
  color: black;
  background-color: #E9D208;
  font-size: var(--fonteMedia);
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  padding: 0.5rem 1.35rem 0.5rem 1.35rem;
}

.logoNavbar {
  width: 300%;
  height: 100%;
}

.logoNavbar img {
  width: 80%;
}

.caixaLogoNavbar {
  width: 5%;
}

.caixaTresQuadrados {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 80%;
  left: 0%;
  width: 100%;

}

.tresQuadrados {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
  width: 100%;
}

.tresQuadrados ul li {
  margin: 0px;
  display: inline-block;
  justify-content: space-between;
  padding: 0px 1.5rem;
}

.quadradoBranco {
  display: flex;
  width: 22vw;
  height: 18vw;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0.3em 0.3em rgb(0 0 0 / 0.2);
}

.quadradoVerde {
  display: flex;
  width: 22vw;
  height: 18vw;
  background-color: #0E6616;
  border-radius: 1rem;
  box-shadow: 0 0.3em 0.3em rgb(0 0 0 / 0.2);
}

.imagemQuadrado {
  width: 40%;
  height: 40%;
  margin: 0 30%;
}


.caixaItemsQuadrados {
  align-self: center;
  justify-self: center;
  width: 90%;
  height: 70%;
  margin: 15% 5%;
}

.textoQuadrados {
  width: 100%;
  margin: 20% 0;
  text-align: center;
  font-size: var(--fonteMedia);
  font-family: 'Sora', sans-serif;
  font-weight: 500;

}

.espacoBranco {
  height: 13.5rem;
  width: 100%;
}

.containerSobreNos {
  width: 85%;
  margin: 0px 7.5%;
  background-color: white;
  display: flex;
  flex-direction: column;

}

.containerSobre1 {
  display: flex;
  flex-direction: row;
}

.quadroSobre1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.bordaSobre1 {
  padding: 0.3rem 0.3rem 0rem 0;
  border-radius: 15px;
  border: 1px solid #0E6616;
  border-left: 0;
}

.imagemSobre1 {
  display: block;
  margin: 0 auto;
}

.textoSobre1 {
  padding: 1rem 0 0 2.5rem;
  font-family: 'Sora', 'sans-serif';
}

.containerSobre2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 2rem;
}

.quadroSobre2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.bordaSobre2 {
  padding: 0.3rem 0 0rem 0.3rem;
  border-radius: 15px;
  border: 1px solid #0E6616;
  border-right: 0;
}

.imagemSobre2 {
  display: block;
  margin: 0 auto;
}

.textoSobre2 {
  padding: 1rem 0rem 0 0;
  font-family: 'Sora', 'sans-serif';
}

.containerSobre3 {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.quadroSobre3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.imagemSobre3 {
  display: block;
  margin: 0 auto;
}

.textoSobre3 {
  padding: 1rem 0 0 8rem;
  margin: auto;
  font-family: 'Sora', 'sans-serif';
  width: 88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.fonte1TextoSobre{
  font-size: var(--fonteMedia); 
  font-weight:400;
  text-align: justify;
}

.fonte2TextoSobre{
  font-size: var(--fonteTextoG); 
  font-weight:900;
  text-align: justify;
}

.fonte3TextoSobre{
  font-size: var(--fonteTextoGG); 
  font-weight:900;
  text-align: justify;
}

.diagramaVisao {
  width: 100%;
}

.diagramaVisao img {
  width: 100%;
}

.fundoFinal {
  display: flex;
  background-image: url(../img/fundoFim.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 45vw;
}

.containerFinal {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  width: 90%;
  height: 35vw;
  margin: 0 5%;
}

.linha1Final {
  display: flex;
  width: 100%;
  height: 40%;
  flex-direction: row;
}

.linha2Final {
  display: flex;
  width: 100%;
  height: 40%;
  flex-direction: row;
}

.linha3Final {
  display: flex;
  width: 100%;
  height: 20%;
  flex-direction: row;
}

.item1LinhaFinal {
  display: flex;
  align-self: center;
  font-size: var(--fonteTextoG);
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  width: 40%;
}

.item2LinhaFinal {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  font-size: var(--fonteTexto);
  font-family: 'Sora', sans-serif;
  font-weight: 300;
  width: 60%;
}


.inputItem2Final {
  width: 40%;
  height: 2vw;
  background-color: rgb(0 0 0 / 0.01);
  border: 1px solid black;
  border-radius: 2px;
  margin-left: 43%;
}

.botaoItem2Final {
  width: 13%;
  height: 2.4vw;
  padding: 0px var(--fonteTexto);
  font-size: var(--fonteMedia);
  font-weight: bold;
  font-family: 'Sora' 'sans-serif';
}

.item3LinhaFinal {
  align-self: center;
  font-size: var(--fonteTexto);
  font-family: 'Sora', sans-serif;
  font-weight: 300;
  width: 20%;
}

.item3LinhaFinal img {
  width: 60%;
  margin-bottom: 4%;
}

.tabelaLinksFinal {
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex-direction: row;
  font-size: var(--fonteSubtexto);
  font-family: 'Sora', sans-serif;
  font-weight: 500;
  width: 35%;
  margin-left: 45%;
}

.colunaTabelaLinksFinal {
  display: flex;
  flex-direction: column;
  width: 30%
}

.item4LinhaFinal {
  align-self: center;
  font-size: var(--fonteSubtexto);
  font-family: 'Sora', sans-serif;
  font-weight: 300;
  width: 40%;
  margin-bottom: 2%;
}

.item5LinhaFinal {
  align-self: center;
  font-size: var(--fonteSubtexto);
  font-family: 'Sora', sans-serif;
  font-weight: 300;
  width: 60%;
  margin-bottom: 2%;
  margin-left: 40%;
}

.caixaTermosCookies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.vetor1x3Final {
  align-self: center;
  font-size: var(--fonteSubtexto);
  font-family: 'Sora', sans-serif;
  font-weight: 300;
  width: 40%;
  margin-bottom: 10%;
}